/* Gnb Menu Style */

// 기본 style
.menu{

  &-wrap{
    border-top:50px solid #333;
    // 글꼴이름이 한글, 공백이 있을 때 => 따옴표
    font-family:"Noto Sans CJK KR", sans-serif;

    @extend %clearfix;
  }

  &-inner{
    width:1080px;
    margin:0 auto;
  }

  &-logo{
    float:left;
    margin:21px 100px 0 0;
  }

  &-nav{
    float:left;
  }

  &-depth1{

    @extend %clearfix;

    &-item{
      float:left;
    }

  }

  &-depth2{
    display:none;
  }

  &-depth3{
    display:none;
  }


}